streamlit
openai
flask
flask-socketio
python-socketio
simple-websocket
python-dotenv
pypdf
chromadb
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
docling
cryptography>=3.1
matplotlib
reportlab